<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/lib/prism/prism.css" />
    <title>Vue.js</title>
    <script src="/lib/prism/prism.js"></script>
  </head>
  <body>
    <div class="align-center" id="app" v-cloak>
      <h1>{{pageTitle}}</h1>
      <table-of-contents></table-of-contents>

      <template v-if="docs !== undefined">
        <h4>도움말 페이지</h4>
        <ul>
          <li v-for="item in docs">
            <a :href="item.url" :target="'_blank'">{{item.title}}</a>
          </li>
        </ul>
      </template>

      <h2>소제목1</h2>
      <div class="result">
        <p id="result1"></p>
      </div>

      <back-to-home></back-to-home>
    </div>
    <script type="module">
      import { createApp } from '/lib/vue/vue.esm-browser.js';
      import { backToHome } from '/examples/vue/component/backToHome.js';
      import { tableOfContents } from '/examples/vue/component/tableOfContents.js';

      const pageTitle = "연습장 #1";
      
      createApp({
        components: {
          backToHome,
          tableOfContents,
        },
        created() {
          document.title += `: ${pageTitle}`;
        },
        data() {
          return {
            docs: [
              { title: "어디어디", url: "어디어디" },
              { title: "어디어디", url: "어디어디" },
              { title: "어디어디", url: "어디어디" },
            ],
            pageTitle: pageTitle,
            message: "Hello Vue! ✌️"
          };
        },
      }).mount("#app");

      let target = [
        {
          "orgSeq": 111,
          "orgNm": "본부",
          "depth": 0,
        },
        {
          "orgSeq": 4,
          "orgNm": "영업팀",
          "upOrgSeq": 111,
          "depth": 1,
        },
        {
          "orgSeq": 333,
          "orgNm": "개발팀",
          "upOrgSeq": 111,
          "depth": 1,
        },
        {
          "orgSeq": 2,
          "orgNm": "운영팀",
          "upOrgSeq": 111,
          "depth": 1,
        },
        {
          "orgSeq": 7,
          "orgNm": "웹개발",
          "upOrgSeq": 333,
          "depth": 2,
        },
        {
          "orgSeq": 6,
          "orgNm": "앱개발",
          "upOrgSeq": 333,
          "depth": 2,
        },
        {
          "orgSeq": 5,
          "orgNm": "사이트개발",
          "upOrgSeq": 333,
          "depth": 2,
        }
      ];
      document.querySelector('#result1').innerText = JSON.stringify(target, null, 2);
      
      target.forEach((ele, idx) => {

      });


    </script>
  </body>
</html>
